.thisdiv {
    width: 80%;
    min-height: 100vh;
    margin: 3rem auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.indexmain {
    width: 100%;
    text-align: center;
}

.subtopic {
    background-color: #f0f0f0;  /* light gray */
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    text-align: left;
    width: 100%;  /* takes full width of parent, adjust if needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* optional subtle shadow */
}

.update_body {
    width: 100%;
    color: black;
    text-align: justify;
    margin-bottom: 1rem;
    padding: 1rem;
    line-height: 1.6;          /* Improves readability */
    background-color: #f9f9f9; /* Optional subtle background */
    border-radius: 0.5rem;     /* Soft edges */
}
