.thisdiv {
    width: 80%;
    min-height: 100vh;
    margin: 3rem auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.indexmain {
    width: 100%;
    text-align: center;
}

.update_body {
    width: 100%;
    color: black;
    text-align: justify;
    margin-bottom: 1rem;
    padding: 1rem;
    line-height: 1.6;          /* Improves readability */
    background-color: #f9f9f9; /* Optional subtle background */
    border-radius: 0.5rem;     /* Soft edges */
}
